/*----------------------------------------------------------------------

[-----*** TABLE OF CONTENT ***-----]

1. Header - Navbar
2. Header - Responsive Navbar Style
3. Header - Socials
4. Header - Content Sides
-----------------------------------------------------------------------*/


/*--------------------------------------------------
    [1. Header - Navbar]
----------------------------------------------------*/

/*Navbar*/
.header-v7 .navbar {
    margin-bottom: 0;
    background: #364150;
}

.header-v7 .navbar-default {
    border: none;
    border-radius: 0;
}

/*Containers
------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
    .header-v7 .menu-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media (max-width: 991px) {
    .header-v7 .menu-container:before,
    .header-v7 .menu-container:after {
        content: " ";
        display: table;
    }

    .header-v7 .menu-container:after {
        clear: both;
    }

    .header-v7 .menu-container {
        margin-left: auto;
        margin-right: auto;
        padding-left: 30px;
        padding-right: 30px;
    }
}

/*Navbar Toggle
------------------------------------*/
.header-v7 .navbar-toggle {
    border: none;
    margin: 15px 0 15px 15px;
}

.header-v7 .navbar-toggle .icon-bar {
    height: 1px;
    width: 20px;
    font-size: 20px;
    background: #555;
    margin-bottom: 5px;
}

.header-v7 .navbar-toggle .icon-bar:last-child {
    margin-bottom: 0;
}

.header-v7 .navbar-toggle,
.header-v7 .navbar-toggle:hover,
.header-v7 .navbar-toggle:focus {
    background: inherit;
}

/* Logo
------------------------------------*/
.header-v7 .logo img {
    width: 100px;
}

@media (min-width: 768px) {
    .header-v7 .logo {
        padding: 6px 3px;
    }

    .header-v7 .logo img {
        height: auto;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .header-v7 .logo img {
        margin: 12px 0 11px;
    }

    .header-v7 .navbar-nav .dropdown-menu {
        position: static;
        float: none;
        border: none;
        box-shadow: none;
        background: none;
    }
    .header-v7 .navbar-nav .dropdown-menu a {
        display: block;
        padding: 5px 15px 5px 25px;
    }
}

/* Navbar Menu
------------------------------------*/
.header-v7 .navbar-default .navbar-nav > li > a {
    color: #fafafa;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.header-v7 .navbar-default .navbar-nav > li > a:after {
    top: 8px;
    right: 10px;
    color: #B4BCC8;
    font-size: 14px;
    content: "\f105";
    position: absolute;
    font-weight: normal;
    display: inline-block;
    font-family: FontAwesome;
}


    .header-v7 .navbar-default .navbar-nav > li{
        border-bottom: 1px solid #4E5C6F;
    }
.header-v7 .navbar-default .navbar-nav > li.open > a:after {
    content: "\f107";
}

.header-v7 .navbar-default .navbar-nav > li:hover{
    background-color: #2B3643 !important;
}
.header-v7 .navbar-default .navbar-nav > li.active {
    background-color: #3498db !important;
}
.header-v7 .navbar-default .navbar-nav > li >a:hover,
.header-v7 .navbar-default .navbar-nav > li.active a{
    color: #fafafa ;
}
/* Dropdown Menu
------------------------------------*/
.header-v7 .dropdown-menu li a {
    color: #fafafa;
    font-size: 14px;
    font-weight: 400;
    padding: 4px 10px;
}

.header-v7 .dropdown-menu .active > a,
.header-v7 .dropdown-menu li > a:focus,
.header-v7 .dropdown-menu li > a:hover {
    filter: none !important;
    color: #fafafa !important;
    background: #2B3643 !important;
}



.header-v7 .dropdown-menu li ul {
    list-style: none;
    padding: 0 0 0 30px;
}
.header-v7 .dropdown-menu li ul li:before {
    content: "–";
    color: #555;
    font-weight: 200;
}


/*--------------------------------------------------
    [2. Header - Responsive Navbar Style]
----------------------------------------------------*/

/*Responsive Navbar*/
@media (max-width: 767px) {
    /*Navbar Header*/
    .header-v7 .navbar-brand {
        margin-top: 0;
    }

    /*Navbar Collapse*/
    .header-v7 .navbar-collapse {
        padding: 0;
        background: #364150;
        border-bottom: 1px solid #2B3643;
    }

    /*Navbar Nav*/
    .header-v7 .navbar-default .navbar-nav {
        padding:  0;
    }

    .header-v7 .navbar-default .navbar-nav > li > a {
        color: #fafafa;
        padding: 10px 15px;
        border-bottom: 1px solid #2B3643;
    }

    .header-v7 .navbar-default .navbar-nav > li:last-child > a {
        border-bottom: none !important;
    }

    .header-v7 .navbar-default .navbar-nav > li > a,
    .header-v7 .navbar-default .navbar-nav > li > a:hover,
    .header-v7 .navbar-default .navbar-nav > li > a:focus {
        background: inherit;
    }

    /*Dropdown Menu Slide Down Effect*/
    .header-v7 .navbar-nav .open .dropdown-menu {
        border: 0;
        float: none;
        width: auto;
        margin-top: 0;
        position: static;
        box-shadow: none;
    }

    .header-v7 .dropdown-menu  > a,
.header-v7 .dropdown-menu li {
    color: #777 !important;
    
        background:  #2B3643 ;
}
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #777;
} 
    .header-v7 .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .header-v7 .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .header-v7 .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fafafa;
        background:  #2B3643 ;
    }

    .header-v7 .dropdown-menu li ul li:before {
        float: left;
        padding: 3px 0 0 10px;
    }
}

/*Vertical Sidebar Nav
------------------------------------*/
@media (min-width: 768px) {
    .header-v7 .navbar-default {
        top: 0;
        width: 235px;
        height: 100%;
        z-index: 999;
        position: fixed;
        padding-top: 0px;
        border-left: 1px solid rgba(218,218,218,0.2);
        border-right: 1px solid rgba(218,218,218,0.2);
    }

    /*Header Left*/
    .header-v7.header-left-v7 .navbar-default {
        left: 0;
    }

    /*Header Right*/
    .header-v7.header-right-v7 .navbar-default {
        right: 0;
    }

    /*Navbar Brand*/
    .header-v7 .navbar-brand {
        float: none;
        height: auto;
        display: block;
        margin: 65px 0 30px;
    }

    .header-v7 .navbar-brand img {
        width: 80px;
        height: auto;
        margin: 0 auto;
        display: block;
        text-align: center;
    }

    /*Navbar Collapse*/
    .header-v7 .navbar-collapse {
        height: auto;
        border-top: 0;
        padding: 0px 0;
        box-shadow: none;
        max-height: none;
        margin: 0 0px 25px;
    }

    .header-v7 .navbar-collapse.collapse {
        width: auto !important;
        display: block !important;
        overflow: visible !important;
    }

    .header-v7 .navbar-collapse.in {
        overflow-x: visible;
    }

    .header-v7 .navbar-nav,
    .header-v7 .navbar-nav > li,
    .header-v7 .navbar-left,
    .header-v7 .navbar-right,
    .header-v7 .navbar-header {
        float: none !important;
    }

    /*Navbar Nav*/
    .header-v7 .navbar-default .navbar-nav {
        margin-bottom: 40px;
    }

    .header-v7 .navbar-default .navbar-nav > li > a {
        padding: 10px 20px;
    }

    .header-v7 .navbar-default .navbar-nav > li > a,
    .header-v7 .navbar-default .navbar-nav > li > a:hover,
    .header-v7 .navbar-default .navbar-nav > li > a:focus {
        color: #fafafa;
    }

    .header-v7 .navbar-default .navbar-nav > li > a,
    .header-v7 .navbar-default .navbar-nav > li > a:hover,
    .header-v7 .navbar-default .navbar-nav > li > a:focus,
    .header-v7 .navbar-default .navbar-nav > .active > a,
    .header-v7 .navbar-default .navbar-nav > .active > a:hover,
    .header-v7 .navbar-default .navbar-nav > .active > a:focus {
        background: none;
    }

    .header-v7 .navbar-default .navbar-nav > li:hover > a {
        color: #fafafa;
    }

    .header-v7 .navbar-collapse .navbar-nav.navbar-right:last-child {
        margin-right: 0;
    }

    /*Dropdown Menu*/
    .header-v7 .dropdown-menu {
        top: 100%;
        left: auto;
        width: 100%;
        float: none;
        border: none;
        z-index: 1000;
        border-radius: 0;
        box-shadow: none;
        position: static;
        padding: 0 0 0 0px;
    }
    .header-v7 .dropdown-menu li a {
        padding-left: 42px;
    }

    .header-v7 .dropdown-menu li a {
        font-weight: 200;
    }
}


/*--------------------------------------------------
    [3. Header - Socials]
----------------------------------------------------*/

/*Header Socials*/
.header-socials {
    text-align: center;
    margin-bottom: 20px;
}

.header-socials li a {
    color: #555;
}

.header-socials li i {
    font-size: 16px;
}

.header-socials li a:hover {
    color: #fafafa;
}

/*Copyright Text*/
.header-v7 .copyright-text {
    color: #555;
    font-size: 12px;
    text-align: center;
}


/*--------------------------------------------------
    [4. Header - Content Sides]
----------------------------------------------------*/

/*Content Side Right*/
@media (min-width: 768px) {
    .content-side-right {
        margin-left: 235px;
    }
}

@media (min-width: 768px) and (max-width: 1440px) {
    .content-side-right .container {
        width: 95%;
    }
}
